apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values | get "eric-sec-ldap-server.federation.adminSecret" }}
  labels:
     app: eric-sec-ldap-server
     chart: eric-sec-ldap-server
  annotations:
     ericsson.com/product-name: "BDGS CN AM LCM"
     ericsson.com/product-number: "CXD 111 1111"
     ericsson.com/product-revision: "0.1.0"
type: Opaque
data:
  adminpass: {{ ( .Values | get "global.extraEnv.ldapFederationAdminSecret") | b64enc }}
